* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    .post-list,
    & > div {
        width: 45%;
        margin: 0 auto;
    }
    .post-list .post {
        background-color: lightblue;
        margin: 1em 0;
        padding: 1em;
        h2 {
            padding: 0.5em 0;
        }
        .date {
            font-weight: bold;
        }
        p:last-child {
            margin: 1em 0;
            font-weight: bold;
        }
    }
}

.create-form {
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
}

h2 {
    text-align: center;
}

.post-btns {
    font-weight: bold;
    border: 1px solid purple;
    padding: 0.5em;
    cursor: pointer;
}
.action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .edit-btn {
        @extend .post-btns;
    }
    .unpublish-wrapper {
        font-weight: bold;
        p {
            color: green;
        }
        button {
            color: red;
            @extend .post-btns;
        }
    }
    .publish-wrapper {
        font-weight: bold;
        p {
            color: red;
        }
        button {
            color: green;
            @extend .post-btns;
        }
    }
}
